body {
    background-color: white;
}

.philcollins {
    background-color: rgb(211, 211, 211);
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin:15px;
    padding:15px;
}

h2 {
    text-align: center;
}

h3, p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.portrait {
    text-align: center;
    background-color: white ;
    padding: 10px;
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;

    

}

img {
    width: 50%;
    height: 50%;
    padding: 15px;
}


.biographie ul {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    
}

.biographie {
    display:flex;
    justify-content: center;
    width: 30%;
    margin:auto
}

li {
    line-height:30px;
    font-size: 20px;
    margin:10px;
    
}

